//- Все примеси в этом файле должны начинаться c имени блока (learn)

mixin learn()

  .learn.gl-block
    .learn__content-wrapper
      .learn__content-info
        h2.gl-title.gl-title--small Learn and Earn
        .gl-subtitle Learn and get a scholarship
      img(loading="lazy" src="img/learn.svg" alt="learn" width="82" height="80").learn__content-icon

    .learn__btns-wrapper
      button(type="button").learn__btn.gl-btn.gl-btn--small LEARN TO PLAY
      button(type="button", disabled).learn__btn.gl-btn.gl-btn--small SCHOLARSHIP
